body {
  background-image: url(/images/bakery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0);
}

.background-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 20px;
  margin: 40px;
}

.inner-container {
  text-align: center;
  color: rgb(171, 170, 170);
}

a {
  color: rgb(171, 170, 170);
  text-decoration: none;
}

.email-link {
  text-decoration: underline;
}

h1 {
  padding-bottom: 10px;
}
